{{> nav}}
  <div class="container my-3">
    {{> messages}}
    
    {{!-- posts --}}
    <div class="post-container row mt-3 d-flex gap-5 ps-5 mx-auto">
      {{#each posts}}
        <div class="card" style="width: 15rem; height: 18rem; padding: 0;">
          <a href="/posts/{{this.id}}">
            <img src="/{{this.image}}" class="card-img-top" style="height: 180px; object-fit:cover;" alt="post image">
          </a>
        
          <div class="card-body">
            <strong class="card-title"><a href="/posts/{{this.id}}" style="color: black;">{{this.title}}</a></strong>
            <div class="d-flex mt-4 align-items-center" style="font-size: smaller;">
              <span>
                <img src="{{pathCheck this.User.image}}" class="profile-img me-2" style="width: 20px;" alt="profile photo">
              </span>
              <a href="/profile/{{this.userId}}">{{this.User.name}}</a>
              {{> likeButton}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>


