{{> nav}}

<div class="col">
  {{> messages}}
  <div class="d-flex my-5 justify-content-center">
    
    <div class="col-md-2">
      <img src="{{pathCheck profile.image}}" class="profile-img ms-5" alt="profile photo">
    </div>
    <div class="d-flex flex-column mt-3 ms-5 col-md-6">
      <h4>{{profile.name}}</h4>
      <p class="my-2">
        <span class="me-2">{{profile.postsCount}} Posts</span>
        <span class="me-2"><a href="/followings/{{profile.id}}">{{profile.followingsCount}} Followings</a></span>
        <span><a href="/followers/{{profile.id}}">{{profile.followersCount}} Followers</a></span>
      </p>
      <div>
        {{#ifCond signInUser profileId}}
          <a href="/profile/{{profile.id}}/edit" class="btn button button-b mt-3" tabindex="-1" role="button" aria-disabled="true">Edit Profile</a>
        {{else}}
          {{#if profile.isFollowing}}
            <form action="/following/{{profile.id}}?_method=DELETE" method="post"  style="display: inline-block;">
              <button type="submit" class="btn button button-b mt-3">Unfollow</button>
            </form>
          {{else}}
            <form action="/following/{{profile.id}}" method="post" style="display: inline-block;">
              <button type="submit" class="btn button button-b mt-3">Follow</button>
            </form>
          {{/if}}
          {{#if profile.isSubscribe}}
            <form action="/subscribe/{{profile.id}}?_method=DELETE" method="post" class="d-inline">
              <button type="submit" class="btn button button-b mt-3"> 
                <i class="fa-solid fa-check me-2"></i> Subscribe
              </button>
            </form>
          {{else}}
            <form action="/subscribe/{{profile.id}}" method="post" class="d-inline">
              <button type="submit" class="btn button button-b mt-3"> Subscribe</button>
            </form>
          {{/if}}
        {{/ifCond}}
      </div>
    </div>
    
  </div>

  <div class="row m-3 ms-5">
    {{#each posts}}
    <div class="card m-3 p-0" style="width: 15rem;">
      <a href="/posts/{{this.id}}">
        <img src="{{pathCheck this.image}}" class="card-img-top" style="height: 180px; object-fit:cover;" alt="post image">
      </a>
    </div>
    {{/each}}
    
</div>
