{{> nav}}

<div class="container d-flex justify-content-center p-5 row">
  {{> messages}}
  <div class="card col-md-10" style="height: 540px;">
    <div class="row">
      {{!-- images --}}
      <div class="col-md-auto px-0 pb-0">
        <div style="width: 540px; height: 540px;">
          <div id="imageCarousel" class="carousel slide" style="height: 100%;">
            <div class="carousel-inner d-flex align-items-center" style="height: 100%;">
              {{#each images}}
              <div class="carousel-item {{#if @first}}active{{/if}}">
                <img src="{{pathCheck this.path}}" class="d-block w-100" style="height: 100%; object-fit: cover;"
                  alt="Image {{@index}}">
              </div>
              {{/each}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      
      <div class="col-md-5 ms-3">
        {{!-- post --}}
        <div class="d-flex mt-3">
          <h5 class="mb-0 ps-3 my-auto" style="display: inline-block;">{{postInfo.title}}</h5>
          <span class="btn button-b ms-auto my-auto p-1" style="pointer-events: none;">{{postInfo.Category.name}}</span>
        </div>
        
        <hr class="my-3">
        <ul class="ps-3" style="height: 90%; overflow-y: auto; max-height: 20em;">
          <li class="mb-3">
            <span>
              <img src="{{pathCheck postInfo.User.image}}" class="profile-img" style="width: 30px;" alt="profile photo">
            </span>
            <a href="/profile/{{postInfo.userId}}">{{postInfo.User.name}}</a>
          </li>
          <li id="postContent" class="mb-3" style="white-space: pre-wrap;">{{postInfo.content}}</li>

          {{#if postInfo.Comments}}
            <hr class="mb-3">
          
            {{#each postInfo.Comments}}
            <li class="mb-3">
              <div class="d-flex mb-3">
                <span>
                  <img src="{{pathCheck this.User.image}}" class="profile-img me-3" style="width: 40px;" alt="profile photo">
                </span>
                <div class="pe-1 d-flex align-items-center">
                  <a href="/profile/{{this.User.id}}" class="me-2">{{this.User.name}}</a>{{this.content}}
                </div>
                {{#ifCond ../signInUser ../postInfo.userId}}
                <div class="ms-auto d-flex align-items-center">
                  <form action="/comments/{{this.id}}?_method=DELETE" method="post">
                      <input type="hidden" name="postId" value="{{this.id}}" />
                      <button type="submit" class="text-button" style="color: grey; font-size:smaller;">
                        delete
                      </button>
                  </form>
                </div>
                {{/ifCond}}
              </div>
            </li>
            {{/each}}
          {{/if}}
        </ul>
        
        <hr class="mb-3">
        <div class="mb-3 row">
          <div class="d-flex">
            {{#if isLiked}}
              <form action="/like/{{postInfo.id}}?_method=DELETE" method="post">
                <button type="submit" class="text-button">
                  <i class="fa-solid fa-heart fa-xl ps-3 me-2" style="color: #ED6D46;"></i>
                </button>
              </form>
            {{else}}
              <form action="/like/{{postInfo.id}}" method="post">
                <button type="submit" class="text-button">
                  <i class="fa-regular fa-heart fa-xl ps-3 me-2" style="color: #ED6D46;"></i>
                </button>
              </form>
            {{/if}}
            <span>{{likes}} likes</span>
            {{#ifCond postInfo.userId signInUser}}
            <span class="ms-auto">
              <a href="/posts/{{postInfo.id}}/edit" class="me-3">
                <i class="fa-regular fa-pen-to-square me-2"></i>Edit
              </a>
              <span>
                <form id="delete-form" action="/posts/{{postInfo.id}}?_method=DELETE" method="post"
                  style="display:inline-block">
                  <button type="button" data-bs-toggle="modal" data-bs-target="#delete-warning" class="text-button">
                    <i class="fa-solid fa-trash me-2" style="color: #ED6D46;"></i>
                  </button>
                </form>
              </span>
            </span>
            {{/ifCond}}
          </div>
          <div class="mt-3 ps-3" style="display: inline-block;">
            <form action="/comments" method="post">
              <span class="d-flex">
                <input type="text" class="form-control  me-2" placeholder="Add a comment" name="content">
                <input type="hidden" name="postId" value="{{postInfo.id}}" />
                <button type="submit" class="text-button">post</button>
              </span>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  

{{> deleteWarning}}

<script src="/javaScripts/deleteConfirm.js"></script>