<div style="background-color: #fcf3e3; min-height:100vh;">
  <div class="mx-auto pt-5 col-md-4">
      <div class="card shadow p-3 bg-body-tertiary rounded">
        <div class="card-body">
          <h3 class="d-flex justify-content-center">Edit Post Info</h3>
          <form id="postEditForm" action="/posts/{{postInfo.id}}?_method=PUT" method="post">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" value="{{postInfo.title}}" required>
            </div>
            <div class="mb-3">
              <label for="categoryId" class="form-label">Category</label>
              <select class="form-select" id="categoryId" name="categoryId">
                {{#each categories}}
                <option value="{{this.id}}" {{#ifCond this.id ../postInfo.categoryId }}selected{{/ifCond}}>
                  {{this.name}}
                </option>
                {{/each}}
              </select>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Content</label>
              <textarea class="form-control" id="content" name="content" rows="5" required>{{postInfo.content}}</textarea>
              
            </div>
            <button type="submit" class="btn button d-flex mx-auto mt-4">Submit</button>
            <a href="/posts/{{postInfo.id}}" class="d-flex justify-content-center mt-4">Cancel</a>
          </form>
          <pre id="output"></pre>
        </div>
      </div>
  </div>
</div>